<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578662257788-fql5liqsqutknf4ftd3h51j05fmop6u6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578662257788-fql5liqsqutknf4ftd3h51j05fmop6u6</string>
	<key>API_KEY</key>
	<string>AIzaSyCzAM0VSuO5qdCz0BCxBEqDZ0tzHluOVzc</string>
	<key>GCM_SENDER_ID</key>
	<string>578662257788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.covidTracker</string>
	<key>PROJECT_ID</key>
	<string>covid-app-bf36f</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-app-bf36f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578662257788:ios:23f96ee962d62f74b025f9</string>
</dict>
</plist>